* { margin: 0;
   padding: 0;
    box-sizing: border-box; 
  }

header {
  text-align: center;
}

header .heading {
  color: blue;
  text-decoration: underline;
  margin: 20px 0;
}

nav {
  border-top: 2px solid black;
  border-bottom: 2px solid black;
}
.nav-list li {
  display: inline-block;
  margin: 15px 20px;
  list-style: none;
}

.nav-list a {
  color: green;
}
.nav-list a:visited {
  color: red;
}
.nav-list a:hover {
  color: gray;
}


.main {
  height: 600px;
  width: 800px;
  display: flex;
  flex-wrap: wrap;
  margin: 50px 0;
}
.same {
  height: 200px;
  width: 200px;
}