* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* あとで便利 */
}

.main-visual {
  height: 400px;
  width: auto;
  padding: 20px;
  background-image: url(img/mv.jpg);
  background-size: cover;       /* 要素いっぱいに表示 */
  background-position: bottom;  /* 下を基準に表示 */
  
}
.main-visual h2 {
  color: gray;
}
.main {
  width: 800px;
  margin: 50px auto;
}
.content {
  padding: 30px 0;
  border-bottom: 2px solid black;
}