* { margin: 0;
   padding: 0;
    box-sizing: border-box; 
  }

  header {
    height: 50px;
    width: 100%;
    background-color: red;
  }

  .main-visual {
    height: 500px;
    width: 100%;
    background-color: orange;
  }

  .main {
    height: 1400px;
    width: 960px;
    background-color: aquamarine;
    margin: 0 auto;
  }

  .content {
    height: 1400px;
    width: 500px;
    background-color: green;
    margin: 0 auto;
  }

  footer {
    height: 100px;
    width: auto;
    background-color: blue;
  }